<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
<!-- wp:heading {"level":2} -->
<h2>I solve problems and create intuitive software solutions.</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>I'm a web developer focused on creating practical products and exploring JavaScript, HTML, CSS, React, and more recently, WordPress and PHP. I've contributed to software that has reached 500,000 users.</p>
<!-- /wp:paragraph -->


</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-new"} /-->
