
<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
    
    <!-- wp:group {"tagName":"section"} -->
    <section class="wp-block-group">
        
        <!-- wp:heading {"level":2} -->
        <h2>Software Developer</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>I develop solid and scalable software products that provide outstanding user experiences. Based in the UK</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:list -->
        <ul>
            <!-- wp:list-item -->
            <li><a href="#"><img src="" alt="">github</a></li>
            <!-- /wp:list-item -->
            <!-- wp:list-item -->
            <li><a href="#"><img src="" alt="">linkedIn</a></li>
            <!-- /wp:list-item -->
        </ul>
        <!-- /wp:list -->
        
        <!-- wp:buttons -->
        <div class="wp-block-buttons">
            <!-- wp:button -->
            <div class="wp-block-button"><a class="wp-block-button__link">My Work</a></div>
            <!-- /wp:button -->
            <!-- wp:button -->
            <div class="wp-block-button"><a class="wp-block-button__link">About</a></div>
            <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->

    </section>
    <!-- /wp:group -->

    <!-- wp:group {"tagName":"section"} -->
    <section class="wp-block-group">
        
        <!-- wp:heading {"level":2} -->
        <h2>My Work</h2>
        <!-- /wp:heading -->


    </section>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
