/* style-editor.css */
/* Add styles that only apply to the editor here */
body.editor-styles-wrapper {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.editor-styles-wrapper h1 {
    color: #333;
}
